= simple_form_for(@credential) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :login
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
    = f.input :url
    = f.input :restrictions

  .form-actions
    = f.button :submit
