%h1 Listing credentials

%table.table
  %thead
    %tr
      %th Name
      %th Login
      %th Password
      %th Url
      %th Restrictions
      %th

  %tbody
    - @credentials.each do |credential|
      %tr
        %td= credential.name
        %td= credential.login
        %td= credential.password
        %td= credential.url
        %td= credential.restrictions
        %td
          .btn-group
            = link_to edit_credential_path(credential), class: 'btn btn-sm btn-default', title: 'Edit' do
              %i.glyphicon.glyphicon-edit
            = link_to credential, class: 'btn btn-sm btn-primary', title: 'Test password' do
              %i.glyphicon.glyphicon-lock
            = link_to credential, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-sm btn-danger', title: 'Delete' do
              %i.glyphicon.glyphicon-trash

%br

= link_to 'New Credential', new_credential_path
