%p#notice= notice

%p
  %b Name:
  = @credential.name
%p
  %b Login:
  = @credential.login
%p
  %b Password:
  = @credential.password
%p
  %b Url:
  = @credential.url
%p
  %b Restrictions:
  = @credential.restrictions

= simple_form_for @credential, url: test_credential_path(@credential), method: :post do |f|
  = f.input :password

  = f.submit "Test password"

= link_to 'Edit', edit_credential_path(@credential)
\|
= link_to 'Back', credentials_path
